[submodule "comics"]
	path = comics
	url = git@github.com:atremblay/comics.git
[submodule "linxspiration"]
	path = linxspiration
	url = git@github.com:atremblay/linxspiration.git
[submodule "dcwikia"]
	path = dcwikia
	url = git@github.com:atremblay/dcwikia.git
[submodule "megadeluxe"]
	path = megadeluxe
	url = git@github.com:atremblay/megadeluxe.git
